<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793082170919-uif1dok21r5ona8f5q0teld632lbbn8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793082170919-uif1dok21r5ona8f5q0teld632lbbn8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCe4ndNs1XPGWfsLyNUp4NpUBWp1L1DI3o</string>
	<key>GCM_SENDER_ID</key>
	<string>793082170919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proacademyApp</string>
	<key>PROJECT_ID</key>
	<string>proacademy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>proacademy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793082170919:ios:87076b7a87731445acc802</string>
</dict>
</plist>